<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Bienvenido/a a Uninpahu</title>
    <style>
      body {
        margin: 0;
        padding: 0;
        background-color: #f6f8f1;
      }
      .content {
        max-width: 600px;
        margin: 0 auto;
        padding: 30px;
        text-align: center;
        color: #6a6d91;
        font-size: 20px;
        letter-spacing: -0.31px;
      }
      .content h1 {
        font-size: 30px;
        letter-spacing: -0.59px;
      }
      .img-container {
        max-width: 600px;
        margin: 0 auto;
        overflow: hidden;
      }
      .img-container img {
        width: 100%;
        object-fit: cover;
      }
    </style>
  </head>
  <body>
    <div class="img-container">
      <img
        src="https://fasincome.s3.us-east-2.amazonaws.com/Uninpahu.jpg?response-content-disposition=inline&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEGAaCXVzLWVhc3QtMSJGMEQCIAXvXCdVgNEgU9Vg8U%2FbR390UB5I4GSEy8j%2BwTebu2DyAiA8wywQNQOf9e1MbBwcyUhbYhvCTmRZ%2BSAR1Wqc35ccrSrtAgiY%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F8BEAAaDDM4Nzc0NDM0OTEzNCIMFHclfFNdr5TbSd8UKsEC5gYxDFAv%2BOEdwBVl5j3zYws%2BPmtekFdkHPzaJMUrwH7CRg2mMHEWCU92%2B1EabJDMPp0SQYbv%2FnFxEkWlZq0n6TBOUd0wMJyV%2Bdjo%2F%2Fwu5KRKp2NeSfewOapfU55nJGY2nvFy761oBDsn54Qq3%2BTFqjYnZ6ISnYedHDmAPSUdl0I%2B7mkBmel%2B93eXxivE9RL8BOkObkKyp7WSZdavW6t4zALdsJZcE2NLMN46HWkoaAlNeUZ39a9Tmo45qQClsXRxdl2VgoTDOvhoPaJV%2BOBFX%2BMk4OjwH6d3eRHnhDMwOBoNfbyt6EkXjAnpzYat4pTOCuobzJClO2JN8lXOYZmPZBm0Wjvl8rP57NRu65ljFZXFabw6stniauzLTtkJYF8ponSjlP29a5fF%2FS8P2uTtbdw8ygZM7yROCzfuPa7aoXE0MOjL16MGOrQCCEvJZoCV9Va%2BEsriaP4MzkkI4rY7M0JrmVeYtUiPfC83CSHo%2Bw0%2BaosqR4EnoOUPEcIBgx7YuBa87GQ2vjvPSBYdyroEIHkFaWqbyn7v8Mw5TnmvTvozTf5j1Ln8R4gUvyC8vMeUuE0StDHN8cT6wKriU9QFK%2BLg4QaAKP19upgWka592V5f9pdWSaEHsQTP0n0Wlsl%2B77Sz6C45c0oGkz9aK%2FdT16oJ%2FIRVftITdRSuF0Q03N8AMoGIoqYkShXGFrUf1DXdmJR4nwAY8ZUghNsgqL3j0bx9UYSNdXum9lWaCb0dLvk3BPLthgswD4YwK9jGu0WqzexK8fpiXz50MuntOBWBf%2FrDY%2FKegZAQ55ud1XpUltiHtoyR4eIAvQWLitch2AwhEF5SzkIvmJWA8WnCojw%3D&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20230530T232538Z&X-Amz-SignedHeaders=host&X-Amz-Expires=300&X-Amz-Credential=ASIAVUR25HPHEYS33NN5%2F20230530%2Fus-east-2%2Fs3%2Faws4_request&X-Amz-Signature=1aec7ab97ac2920d404096649d2b64af98e25dd2e288882a35489473a93b1f64"
        alt="Uninpahu"
      />
    </div>
    <div class="content">
      <h1>Hola <%= name %></h1>
      <p>
        Bienvenido/a a Uninpahu. Recuerda que la universidad no se hace
        responsable por la pérdida de tus objetos personales. Cuídalos muy bien
        y disfruta de tu estadía.
      </p>
    </div>
  </body>
</html>
